// Colours
$neutral-50: #FBFBFC;
$neutral-100: #F0F0F1;
$neutral-200: #E4E4E7;
$neutral-300: #D9D9DC;
$neutral-400: #CDCDD2;
$neutral-500: #B2B2BA;
$neutral-600: #B2B2BA;
$neutral-700: #6C6C78;
$neutral-800: #414148;
$neutral-900: #161618;
$primary-500: #9DA6F2;

body {
  background-color: $neutral-50;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 273px;
  line-height: 320px;
  font-weight: 600;
  margin: 0;
  color: $neutral-900;
}

h2 {
  font-size: 182px;
  line-height: 213px;
  font-weight: 600;
  margin: 0;
  color: $neutral-900;
}

h3 {
  font-size: 122px;
  line-height: 143px;
  font-weight: 600;
  margin: 0;
  color: $neutral-900;
}

h4 {
  font-size: 81px;
  line-height: 95px;
  font-weight: 600;
  margin: 0;
  color: $neutral-900;
}

h5 {
  font-size: 54px;
  line-height: 63px;
  font-weight: 600;
  margin: 0;
  color: $neutral-900;
}

h6 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
  margin: 0;
  color: $neutral-900;
}

.p1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;  
  margin: 0;
  color: $neutral-900;
}

.p2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  color: $neutral-900;
}

.p3 {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  color: $neutral-900;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a:visited {
  color: $neutral-900;
}

.container {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

.intro-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  height: 68px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  scroll-snap-align: center;
  background: $neutral-100;
}

.header-box {
  flex: 1;
  display: flex;
  justify-content: center;
  
  :first-child > span {
    margin-right: auto;
  }

  :last-child > span { 
    margin-left: auto;
  }
}

.header-home {
  justify-content: flex-start;
}

#home-button:hover {
  cursor: pointer;
  background: $neutral-300;
  border-radius: 4px 8px;
}

#home-button {
  padding: 4px;
}

.header-logo {
  font-family: 'Playfair Display', serif;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 25px;

  a {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $neutral-900
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 32px 64px;
  height: calc(100vh - 164px);
  scroll-snap-align: start;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  text-align: center;
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 912px;

  p:first-child {
    display: flex;
    align-items: flex-end;
    text-align: right;
  }
}

#portrait {
  width: 216px;
  height: 216px;
  border-radius: 216px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.credentials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

.interests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;
}

.interest-panels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;  

  h6 {
    font-weight: 500;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 32px;
    gap: 16px;
    width: 216px;

    background: $neutral-100;
    border-radius: 8px;

    hr {
      width: 40px;
      color: $neutral-900;
    }
  }
}

.row-panels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}

.basic-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 4px;

  .p1 {
    font-weight: 500;
  }
}

.work-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 448px;
}

.work-description {
  width: 410px;
  text-align: center;
}

.additional-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 100%;
}

.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  
  p {
    background-color: $neutral-100;
    padding: 4px 8px;
    border-radius: 32px;
  }
}

#learn-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4px;
}

.project-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.project-blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 448px;
}

#contact-text {
  width: 680px;
}

.socials-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
  }
}

.vertical-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 20px;

  position: fixed;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
}

.vertical-nav-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

.vertical-nav-item:hover a ~ .p2 {
  opacity: 100%;
}

.vertical-nav-item:hover .vertical-nav-link {
  transform: scale(1.25)
}

.vertical-nav-item .p2 {
  opacity: 0;
  transition: opacity 0.1s;
}

.vertical-nav-link {
  background: $neutral-900;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  transition: transform 0.25s;
}

a.p2 {
  text-decoration: none;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 182px;
    line-height: 213px;
  }

  h2 {
    font-size: 122px;
    line-height: 143px;
  }

  h3 {
    font-size: 81px;
    line-height: 95px;
  }

  h4 {
    font-size: 54px;
    line-height: 63px;
  }

  h5 {
    font-size: 36px;
    line-height: 42px;
  }

  h6 {
    font-size: 24px;
    line-height: 28px;
  }

  .p1 {
    font-size: 16px;
    line-height: 19px;
  }

  .p2 {
    font-size: 11px;
    line-height: 13px;
  }

  .bio {
    width: 584px;
  }

  .interest-panels div {
    width: 132px;
  }

  .work-panel {
    width: 284px; 

    img {
      width: 284px;
    }
  }

  .work-description {
    width: 284px;
  }

  .project-panel {
    img {
      width: 284px;
    }
  }

  .project-blurb {
    width: 284px;
  }

  .vertical-nav {
    display: none;
  }
}

@media (max-width: 768px) {

  .intro-text {
    gap: 16px;

    h3 {
      font-size: 54px;
      line-height: 63px;
    }
  } 

  #logo-front {
    font-size: 122px;
    line-height: 143px;
  }

  #logo-back {
    font-size: 122px;
    line-height: 143px;
  }

  #roles {
    font-size: 16px;
    line-height: 19px;
  }

  #about-me, #work-experience, #projects {
    gap: 12px;
  }

  .bio {
    gap: 8px;
    flex-direction: column;

    p:first-child {
      text-align: center;
    }

    p {
      text-align: center;
      width: 448px;
    }

    img {
      width: 220px;
    }
  }

  .details {
    gap: 16px;
    flex-direction: column;
    align-items: center;
  }

  .interests {
    display: none;
  }

  .row-panels{
    gap: 8px;
    flex-direction: column;
  }

  .work-panel {
    width: 448px;

    img {
      width: 220px;
    }
  }

  .work-description {
    width: 448px;
  } 

  .project-panel {
    gap: 8px;
    flex-direction: column;

    img {
      width: 300px;
    }
  }

  .project-blurb {
    width: 448px;
  }

  #contact-text {
    width: 448px;
  }
}

@media (max-width: 480px) {
  .intro-text {
    gap: 16px;

    h3 {
      font-size: 36px;
      line-height: 42px;
    }
  } 

  .header-logo h5 {
    font-size: 24px;
    line-height: 28px;  
  }

  .header-nav a {
    font-size: 16px;
    line-height: 19px;
  }

  #logo-front {
    font-size: 54px;
    line-height: 63px;
  }

  #logo-back {
    font-size: 54px;
    line-height: 63px;
  }

  #roles {
    font-size: 11px;
    line-height: 13px;
  }

  #about-me, #work-experience, #projects {
    gap: 8px;
  }

  .bio {
    gap: 4px;
    flex-direction: column;

    p:first-child {
      text-align: center;
    }

    p {
      text-align: center;
      width: 288px;
    }

    #portrait {
      width: 100px;
      height: 100px;
    }
  }

  .details {
    gap: 8px;
    flex-direction: column;
    align-items: center;
  }

  .interests {
    display: none;
  }

  .row-panels{
    gap: 4px;
    flex-direction: column;
  }

  .work-panel {
    width: 288px;

    img {
      width: 160px;
    }
  }

  .additional-info {
    display: none;
  }

  .work-description {
    width: 288px;
  } 

  .project-panel {
    gap: 8px;
    flex-direction: column;

    img {
      width: 150px;
    }
  }

  .project-blurb {
    width: 288px;
  }

  #contact-text {
    width: 288px;
  }
}