.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;

  position: absolute;
  height: 100px;
  left: 0px;
  right: 0px;
  top: 0px;

  background: #F0F0F1;
}

.header-box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-home {
  justify-content: flex-start;
}

.header-box:first-child > span { margin-right: auto; }

.header-box:last-child > span { margin-left: auto; }

.header-logo {
  font-family: 'Playfair Display', serif;
}

h6 {
  font-size: 54px;
  line-height: 72px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 25px;
}

.header-nav a {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}